# Git files
.git
.gitignore

# Docker files
.dockerignore
Dockerfile

# Node.js
node_modules
npm-debug.log
*.log

# Environment
.env
.env.example

# Documentation
README.md

# Tests & Coverage
tests/
coverage/

# Tooling
nodemon.json
